<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="esquema.html" />

<head>
<title>$page</title>
<link href="${tg.url('/css/jquery-ui.css')}" rel="stylesheet" type="text/css"/>
<script src="${tg.url('/javascript/jquery-1.5.1.min.js')}"></script>
<script src="${tg.url('/javascript/jquery-ui-1.8.13.custom.min.js')}"></script>
<script src="${tg.url('/javascript/relaciones.js')}"></script>
</head>
<body>
    <h2 style="margin-top:1px; padding-left: 60px;">$page</h2>
    <div style="padding-left: 95px;">
    <table cellspacing="0" cellpadding="2" border="0">
    <tbody>

        <py:if test="puede_relacionar">
        <tr>
            <td>
                <a py:if="puede_nueva" class="link_boton" href="${tg.url('./relacionar_items/')}">
                    <input id="nueva_relacion" style="margin-bottom:10px;" class="boton" type="button" value="Nueva Relación"/>
                </a>
            </td>
            <td>             
                <form id="form_eliminar_relaciones" method="POST" action="${tg.url('./eliminar_relaciones')}">
                <style py:if="puede_nueva">
                	.margen {
                		margin-left:-600px;
                	}
                </style>
                <input id="eliminar_relacion" class="boton margen" type="submit" value="Eliminar Seleccionadas" style="margin-bottom: 10px; width: 160px;"/>
                
                </form>            
            </td>
        </tr>
        </py:if>
        <tr>
            <td colspan="2">
                <span style="font-size: 12;" py:if="lista_elementos" py:content="tmpl_context.paginators.lista_elementos.pager(link='./')"/>
                <div id="tabla_relaciones" class="crud_table" style="height:65%; width:700px; margin-top: 5px;">
                    ${tmpl_context.widget(value=lista_elementos)}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="clear:both;"></div>
            </td>
        </tr>
    </tbody>
    </table>  
    </div>
</body>
</html>
