<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="esquema.html" />
<head>
<title>$page</title>
</head>
<body class="tundra">
  <div style="height:0px;"> &nbsp; </div>
  <h2 style="margin-top:1px; padding-left: 60px;">$page</h2>
  <div style="float:left; padding-left: 95px;" class="crud_edit">
    <table cellspacing="0" cellpadding="2" border="0">
    <tbody>
        <tr>
            <td>
                ${XML(tmpl_context.widget(value=value))}
                
            </td>

            <td valign="top">
            	<div style="clear:both;">
                <a py:if="puede_asignar_rol" class="link_boton" href="${tg.url('../roles/' + id)}">
                    <input id="roles" style="margin-top:0; float:right;" class="boton" type="button" value="Roles"/>
                </a>
                
                </div>
                <br />
                <div style="clear:both;">
                <a class="link_boton" href="${tg.url('./historialitems/')}">               
                    <input id="historial" class="boton" style="float:right;" type="button" value="Historial"/>
                </a>
                </div>
                <br />
                <div style="clear:both;">
                <a class="link_boton" href="${tg.url('../proyectos/' + id)}">               
                    <input id="proyectos" class="boton" style="float:right;" type="button" value="Proyectos"/>
                </a>
                </div>
            </td>
        </tr>
        <tr>
            <div style="clear:both;"></div>
        </tr>
        <tr>
            <td colspan="2">
            	<br />
                <h2 class="color-sobra" style="font-size: 1.5em; margin-top: 5px;">Roles del Usuario</h2>
                <div class="crud_table" style="height:65%; width:700px; margin-top: 5px;">
                	${XML(tmpl_context.tabla_roles(value=roles))}
                </div>  
            </td>
        </tr>
  </tbody>
  </table>
  </div>
  <div style="height:0px; clear:both;"> &nbsp; </div>

</body>
</html>
