<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="esquema.html" />

<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
<title>Recuperar Password</title>
</head>

<body>
<div id="loginform">
<form action="${tg.url('/enviar_pass')}" method="post" accept-charset="UTF-8" class="loginfields">
    <h2><span>Ingrese su nombre de usuario</span></h2>
    <label for="loginusername">username:</label><input type="text" id="loginusername" name="loginusernamegiven" class="text"></input><br/>
    <input type="submit" id="submit" value="Enviar" />
    <br/>   
</form>


</div>
</body>
</html>
