<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="esquema.html" />

<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
<title>Login Form</title>
</head>

<body>
<div id="loginform">
<form action="${tg.url('/login_handler', params=dict(came_from=came_from.encode('utf-8'), __logins=login_counter.encode('utf-8')))}" method="post" accept-charset="UTF-8" class="loginfields">
    <table>
    <tbody>
	    <tr>
	    	<td  colspan="2">
	    		<div class="color-sombra"><span style="font-size:18px; margin: 2px 2px 2px 0;">Iniciar Sesión</span></div>
	    	</td>
	    </tr>
	    <tr>
	    	<td>
		    	<label for="loginusername">Username</label>
	    	</td>
	    	<td>
		    	<input type="text" id="loginusername" name="login" class="text"></input>
		    	<br/>
	    	</td>
	    </tr>
	    <tr>
	    	<td>
	    		<label for="loginpassword">Password</label>
	    	</td>
	    	<td>
	    		<input type="password" id="loginpassword" name="password" class="text"></input>
	    		<br/>
	    	</td>
	    </tr>
	    <tr>
	    	<td  colspan="2">
		    	<a style="margin-top:3px;" href="${tg.url('/recuperar_pass')}">Recuperar Contrase&ntilde;a</a>
		    	<br/>
	    	</td>
	    </tr>
	    <tr>
	    	<td>
		    	<label id="labelremember" for="loginremember">No cerrar sesión</label>
		    	<input type="checkbox" id="loginremember" name="remember" value="2252000"/>
		    </td>
	    	<td>
	    		<input type="submit" class="ingresar-btn" id="submit" value="Ingresar" />
	    	</td>
	    </tr>
    </tbody>
    </table>
</form>


</div>
</body>
</html>
