<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="esquema.html" />

<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
<title>Recuperar Password</title>
</head>

<body>
<div id="loginform">
<form action="${tg.url('/enviar_pass')}" method="post" accept-charset="UTF-8" class="loginfields">
    <table>
    <tbody>
	    <tr>
	    	<td  colspan="2">
    			<div class="color-sombra"><span style="font-size:18px; margin: 2px 2px 2px 0;">Ingrese su nombre de usuario</span></div>
	    		<br/>
	    		<br/>
	    	</td>
	    </tr>
	    <tr>
	    	<td>
		    	<label style="float:right;" for="loginusername">Nombre de Usuario</label>
	    	</td>
	    	<td>
	    		<input style="float:right;" type="text" id="loginusername" name="loginusernamegiven" class="text"></input>
		    	<br/>
	    	</td>
	    </tr>
	    <tr>
		    <td colspan="2">
	    		<input type="submit" class="ingresar-btn" id="submit" value="Enviar" />
	    	</td>
	    </tr>
    </tbody>
    </table>
</form>


</div>
</body>
</html>
