<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="esquema.html" />
<head>
<title>$page</title>
</head>
<body>

    <div style="height:0px;"> &nbsp; </div>
    <h2 style="margin-top:1px; padding-left: 60px;">$page</h2>
    <div style="float:left; padding-left: 95px;" class="crud_add">
        <table>
             <tbody>
                <tr>
                    <td>
                         <div class="grafo">
                               <canvas id="viewport" width="800" height="600"></canvas>
                         </div>
                    </td>
                </tr>
                
                <tr>
                    <td>
                            <div class="fila">Sumatoria de complejidad: ${suma}, Complejidad Total Proyecto: ${ct}</div>
                            <div class="impacto">El impacto sobre el proyecto es del ${impacto} %</div>
                    </td>
                </tr>
             </tbody>
        </table>
    </div>

    <script src="${tg.url('/javascript/jquery-1.5.1.min.js')}"></script>
    <script src="${tg.url('/javascript/grafo/arbor.js')}"></script> 
    <script src="${tg.url('/javascript/grafo/renderer.js')}"></script>
    <script src="${tg.url('/javascript/grafo/graphics.js')}"></script>  
	<script type="text/javascript">

          $(document).ready(function(){
                var sys = arbor.ParticleSystem(100, 900, 0.1) // create the system with sensible repulsion/stiffness/friction
                sys.parameters({gravity:true}) // use center-gravity to make the graph settle nicely (ymmv)
                sys.renderer = Renderer("#viewport") // our newly created renderer will have its .init() method called shortly by sys...


                sys.graft({
                   nodes:{
                     ${grafo['nodos']}
                   },

                   edges:{
                     ${grafo['aristas']}
                   }

                })

                //parar simulacion 5 segundos despues
                setTimeout(function(){
                        sys.parameters({gravity:false, friction:1});
                        sys.stop();
                }, 5000);
          })

        })(this.jQuery)

    </script>
</body>
</html>
