
* { margin:0; padding:0;}
body { background: url(../images/background.jpg);
/*scroll center 20px transparent; */
background-attachment: scroll;
background-color: transparent;
background-position: center 150px;
background-repeat: no-repeat;
font-family: Segoe UI, Arial;
font-size: 100%;
line-height: normal;
/*
font-family: Segoe UI, Arial;
font-size:100%; line-height:.9375em;
color:#969696; 
*/}

.clear { clear:both;}


.alignright { text-align:right;}
.aligncenter { text-align:center;}

.container { width:100%;}

p { margin-bottom:19px;}
.p1 { margin-bottom:18px;}

.tall_bottom { background:url(../images/tall_bottom.gif) left bottom repeat-x;}

/*==================txt, links, lines, titles====================*/
a {color:#01a5e4;}
a:hover{text-decoration:none;}

h1 { font-size:2.91em; color:#303030; font-weight:normal; line-height:.9em; margin-bottom:14px;}
h1 span { color:#65696d; font-size:.69em; display:block; padding-top:4px;}
h1 span em { font-style:normal; color:#01a5e4;}
h2 {/*font-size:2.91em;*/ color:#303030; font-weight:normal; line-height:.9em; margin-bottom:14px;}
h3 { font-size:1.27em; color:#3f4449; font-weight:normal;}
h3 a {color:#3f4449; }
h4 { font-size:1.27em; color:#3f4449; font-weight:normal; margin-bottom:17px;}
h4 a {color:#3f4449; }


/*header*/

#site_center {
/*text-align:center;*/
background:url(../images/tall_top.gif) left top repeat-x;
min-width:700px; 
}

#header .row_1 { 
margin:0 10 0 0; height:125px;
/*
padding: 5px 0 14px 0;
width: 990px;
margin-left: auto;
margin-right: auto;
clear: both;
*/}

#header .titulo h1{
padding-top:25px;
padding-right:25px;
}

#header .row_2 { height:47px; clear:both; }


#header .logo {
float: left;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 25px;
padding-right: 15px;
}

#header .loginlinks {
font-weight:bold;
padding:10px 10px 10px 12px; 
font-size:11px;
}

#header .loginlinks a.login {
height:36px; 
line-height:27px; 
color:#9A9A9A; 
text-decoration:none;  
padding:0 0 0 12px; 
cursor:pointer;}

#header .loginlinks a.login:hover {
height:36px; 
line-height:27px;
color:#fff; 
text-decoration:none; 
cursor:pointer;}

#header .titulo {
float: left;
}
#header .cntheader {
padding: 5px 0 14px 0;
width: 990px;
margin-left: auto;
margin-right: auto;
clear: both;
}
/*content*/
#content { 
padding: 0;
width: 990px;
margin: 0 auto;
font-size: 62.5%;
}

#content .cnttop { background-image: url(../images/glass_top.png);
background-repeat: no-repeat;
height: 31px;
margin: 0;
padding: 0;
line-height: normal;
}
#content .cntmid { background-image: url(../images/glass_mid.png);
background-repeat: repeat-y;
padding: 0 15px;
min-height: 400px;
height: 500px;
margin: 0;
padding: 0;
line-height: normal;
position:relative;
}
#content .cntbot { background-image: url(../images/glass_bot.png);
background-repeat: no-repeat;
height: 38px;
margin: 0;
padding: 0;
line-height: normal;
}

/*footer*/
#footer {
text-align:center;
background-image: url(../images/tall_bottom.gif);
font-size:.75em;
height:80px;

background-color: transparent;
background-image: url("images/gradientbottom.jpg");
background-repeat: repeat-x;

}
#footer span { font-size:19px; color:#c1c1c1;}
#footer strong { color:#434343;}
#footer strong a {color:#434343;}
#footer .indent { padding:25px 72px 0 69px;}


/* Login form*/

#loginform {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:11px;
-moz-border-radius-bottomright:11px;
-moz-border-radius-topleft:11px;
-moz-border-radius-topright:11px;
-moz-box-shadow:0 4px 18px #C8C8C8;
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #E5E5E5;
font-weight:normal;
margin:auto;

padding:16px 16px 40px;
width:280px;
height:107px;
position:absolute;
left:35%;
top:15%;
}

.ingresar-btn, .submitbutton {
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
cursor:pointer;
font-family:arial, verdana, sans-serif;
/*font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;*/
font-size:10px;
margin-top: 5px;
padding:3px 10px;
text-decoration:none;
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background: #3381B7 url(../images/blank.gif) repeat-x scroll left top;
width:90px; 
border-color:#3381B7;
border-style: groove;
color:#DDDDDD;
font-weight:bold;
text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);
float:right;
}

#loginremember
{
    float:right;
    vertical-align: middle;
    height: 26px;
    /*margin-top: 20px;*/
}

#labelremember 
{
    float: right;
    width: auto;
    margin:0;
    margin-right: 15px;
    vertical-align: middle;
    /*margin-top: 20px;*/
    margin-left: 2px;
}

#loginusername, #loginpassword{
margin-top: 3px;
}


/* Other and footer */
.code {
font-family:monospace;
font-size:127%;
}
span.code {
background:#EEEEEE none repeat scroll 0% 0%;
font-weight:bold;
}
#flash {
float:right;
padding-left: 95px;
}
#flash, .notice {
font-size:120%;
font-weight:bolder;
margin:0pt auto 0.5em;
width:680px;
}
#flash div, .notice {
padding:20px 15px 20px 65px;
}
#flash .ok {
background:#d8ecd8 url(../images/ok.png) no-repeat scroll 10px center;
}
#flash .warning {
background:#fff483 url(../images/warning.png) no-repeat scroll 10px center;
}
#flash .error {
background:#f9c5c1 url(../images/error.png) no-repeat scroll 10px center;
}
#flash .alert,
#flash .info {
background:#EEEEFF url(../images/info.png) no-repeat scroll 10px center;
}
.notice {
background:#EEEEFF url(../images/info.png) no-repeat scroll 10px center;
}
.fielderror {
color:red;
font-weight:bold;
}
div.clearingdiv {
clear:both;
}

/*actions*/
.actions {
text-align:left; margin-top:2px;
font-family:sans-serif; font-size:12;
}

/*columna donde van los elementos de navegación */
.panel_nav {
width:150;
float:right;
}

/*columna del contenido */
.columna_contenido {
min-width:90%;
}

/*botones*/
.boton {
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
cursor:pointer;
font-family:arial, verdana, sans-serif;
/*font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;*/
font-size:10px;
margin-top: 6px;
margin-right: 10px;
padding:3px 10px;
text-decoration:none;
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background: #3381B7 url(../images/blank.gif) repeat-x scroll left top;
width:90px; 
border-color:#3381B7;
border-style: groove;
color:#DDDDDD;
font-weight:bold;
text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);
}



.link_boton {
text-decoration: none;
}


/* labels de los forms de sprox */
.labelcol {
padding-left:2px;
padding-right:10px;
}

/*filtros*/
.buscar {
width:55%;
}

#buscar_boton {
float:right;
margin-right: 0;
}

.filters {
padding-top:3px;
margin-left:40px;
}

.footer_filtro {
margin-left:40px;
}

.header_filtro {
margin-left:40px;

}

#buscar_cualquiera {
margin-top: 6px;
margin-left: 40px;
padding: 3px 10px;
width:66%;
}

#x_boton {
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
cursor:pointer;
font-family:arial, verdana, sans-serif;
/*font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;*/
font-size:10px;
padding:0px 10px;
text-decoration:none;
background-color: #CCCCCC;
width:7px; 
border-color:#BBBBBB;
/*border-style: groove;*/
color:#FFFFFF;
font-weight:bold;
text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);
}

#filtro_boton {
margin-top: 3px;
width:105px; 
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
cursor:pointer;
font-family:arial, verdana, sans-serif;
/*font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;*/
font-size:10px;
padding:0px 10px;
text-decoration:none;
background-color: #CCCCCC;
border-color:#BBBBBB;
/*border-style: groove;*/
color:#FFFFFF;
font-weight:bold;
text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);
}

.footer_filtro {
clear:both;
}

/*actions fase*/
.actions_fase {
text-align:left; margin-top:2px;
font-family:sans-serif; font-size:12;
}

/*rango de fechas para los datepickers */
.rango_fechas {
font-size:70%;
}

.filter {
float:left;
width:100%;
}

