<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="esquema.html" />
  <xi:include href="buscar.html" />
<head>
<title>$page</title>
<!--<link href="${tg.url('/css/jquery-ui.css')}" rel="stylesheet" type="text/css"/>
<script src="${tg.url('/javascript/jquery-1.5.1.min.js')}"></script>
<script src="${tg.url('/javascript/jquery-ui-1.8.13.custom.min.js')}"></script>
<script src="${tg.url('/javascript/proyecto_miembros.js')}"></script>
-->
</head>
<body>
    <h2 style="margin-top:1px; padding-left: 60px;">$page</h2>
    <div style="padding-left: 95px;">
        <table cellspacing="0" cellpadding="2" border="0">
        <tbody>
            <tr>${buscar()}</tr>
            <!--
            <tr>
                <td>
                <form py:if="puede_incorporar" id="form_seleccionados" method="POST" action="${tg.url('./incorporar_seleccionados/')}">
                <input id="remover" class="boton" type="submit" value="Incorporar Seleccionados" style="margin-top: 10px; width: 160px;"/>
                </form>
                </td>
            </tr>
            -->
            <tr>
                <td>
                    <span style="font-size: 12;" py:if="lista_elementos" py:content="tmpl_context.paginators.lista_elementos.pager(link='./')"/>
                    <div id="tabla_seleccionados" class="crud_table" style="height:65%; width:700px; margin-top: 5px;">
                        ${tmpl_context.widget(value=lista_elementos)}
                    </div>
                </td>
            </tr>
            <tr>
                <div style="clear:both;"></div>
            </tr>
        </tbody>
        </table>  
    </div>
</body>
</html>
